<div class="table-responsive-sm table-responsive-md table-responsive-lg">
    <table class="table mb-5 table-striped table-bordered">
      <thead class="tabla-encabezado">
        <tr>
          <th >Marca</th>
          <th >Modelo</th>
          <th >Color</th>
          <th >Precio</th>
        </tr>
      </thead>
      <tbody *ngIf="lista.length">
        <tr *ngFor="let item of lista">
          <th >{{ item.marca }}</th>
          <th >{{ item.modelo }}</th>
          <th >{{ item.color }}</th>
          <th >{{ item.precio }}</th>
          <td>
            <!-- <button type="button" class="btn btn-danger m-2" (click)="eliminar(item)">Eliminar</button> -->
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!lista.length">
        <tr>
          <td colspan="5">No hay registros para mostrar</td>
        </tr>
      </tbody>
    </table>
  </div>